@import "ui-variables";
@import 'octicon-utf-codes';

linter-message {
  display: flex;
  align-items: center;
  font-size: @font-size;
  line-height: 1.2;
}

atom-text-editor::shadow .gutter[gutter-name="linter"] {
  position: absolute;
  right: 0;
  background-color: transparent;

  .custom-decorations {
    background-color: transparent !important;
  }
}
