@import "ui-variables";
@import 'octicon-utf-codes';

linter-new-panel {
  display: block;
  max-height: 500px;

  .panel-heading {
    display: flex;
    flex-direction: row;
    width: 100%;

    .heading-status {
      margin-left: 50px;

      > span {
        padding-left: 5px;
      }
    }

    .heading-icons {
      justify-content: flex-end;
      margin-left: auto;
      cursor: pointer;
      span:first-child {
        padding-right: 10px;
      }
    }
  }

  .panel-body {
    padding: 5px;
    max-height: 88px;
    overflow-x: scroll;
    &.hide {
      display: none;
    }
  }

  [hidden] {
    display: none;
  }
}

linter-bottom-status {
  &.status-success {
    color: @background-color-success;
  }
  &.status-error {
    color: @background-color-error;
  }
}

// Make linter tooltips overflow
atom-text-editor::shadow  .gutter[gutter-name="linter-ui-default"] {
  z-index: 1;
  overflow: visible;
}
